<h2>Hi, <%= @customer%></h2>
<p>
    We have received $<%= @amount%> for your payment on Order# <%= @order_id  %> 
    Your order will be delivered as soon as possible
</p>
<p> 
    You can follow the order status online on our website
</p>
<p> 
    Thank you
</p>
<p>
    Cheers,
</p>
<p>
    The Restaurant
</p>